// FOOTER :: START
footer.footer
  .container
    .footer__wrapper
      .footer__credentials
        p © ООО “Проект Хаус”, 2016-2018 
        p ИНН 7703421252
        p  КПП 770301001
      
// FOOTER :: END
