// HEADER :: START
header.header
  .header-container
    .container
      .header__wrapper
        a(href="homepage.html").header__logo
          +icon('ico-logo')
        .header__cta
          a(href="property-add.html").btn.btn-outline
            span Добавить обьект
          .header__user
            .header__user-wrap
              .header__user-name Вячеслав Люкшин
              .header__user-avatar
                img(src='img/avatar.jpg' srcset='img/avatar@2x.jpg 2x')
            a.header__user-drop(href="login.html") Выйти
              
// HEADER :: END
