// Right-Sidebar
.right
	.right__wrapper(js-sticky)
		div(js-teleport data-teleport-to="mobile-right-sidebar" data-teleport-condition="<1068")
			p.p-label Категория
			.right__container
				.ui-checkbox
					label Дом
						input(type="checkbox")
						span
				.ui-checkbox
					label Таунхаус
						input(type="checkbox")
						span
				.ui-checkbox
					label Земельный участок
						input(type="checkbox")
						span
			p.p-label Статус
			.right__container
				.ui-checkbox
					label Продан
						input(type="checkbox")
						span
				.ui-checkbox
					label Резерв
						input(type="checkbox")
						span
				.ui-checkbox
					label Эксклюзив
						input(type="checkbox")
						span
			p.p-label Теги
			.right__container
				ul.tags
					li.tags__added Гараж
						span(js-remove-tag)
						input(type="hidden", name="tags[]", value="Гараж")
					li.tags__added КП “Ватутинки”
						span(js-remove-tag)
						input(type="hidden", name="tags[]", value="КП “Ватутинки”")
					li.tags__added У воды
						span(js-remove-tag)
						input(type="hidden", name="tags[]", value="У воды")
					li.tag__input
						.ui-group
							input(type="text" js-search-field js-autocomplete data-url="json/tags.json")
