// Sidebar
.sidebar
  a(href="homepage.html").sidebar__logo
    +icon('ico-logo')
  a.menu-link(href="#" js-open-menu) Меню
  .sidebar__wrapper(js-sticky)
    a.sidebar__index(href="#") Главная
    ul.sidebar__main
      li
        a(href="#") Недвижимость
        ul.sidebar__secondary
          li
            a(href="#") Все записи
          li
            a(href="#") Черновики
          li
            a(href="#") Категории
          li.is-active
            a(href="#") Теги
      li
        a(href="#") Блог
    a.sidebar__back(href="#")
      +icon('ico-arrow-left')
      | Назад к поиску
    div(data-teleport-target="mobile-select")