// Sidebar
.sidebar
  p.sidebar__index Главная
  ul.sidebar__main
    li
      a.sidebar__main-link(href="#") Недвижимость
      ul.sidebar__secondary
        li
          a.sidebar__secondary-link(href="#") Все записи
        li
          a.sidebar__secondary-link(href="#") Черновики
        li
          a.sidebar__secondary-link(href="#") Категории
        li.is-active
          a.sidebar__secondary-link(href="#") Теги
    li
      a.sidebar__main-link(href="#") Блог