// Sidebar
.sidebar(js-sidebar)
  a(href="homepage.html").sidebar__logo
    +icon('ico-logo')
  a.show-menu-link(href="#" js-open-menu) Меню
  .sidebar__wrapper(js-sticky)
    a.sidebar__index(href="/login.html") Главная
    ul.sidebar__main
      li
        a(href="property-list.html") Недвижимость
        ul.sidebar__secondary
          // .is-active for li to be add with js or backed
          li
            a(href="property-list.html") Все обьекты
          li
            a(href="#") Черновики
          li
            a(href="categories.html") Категории
          li
            a(href="tags.html") Теги
      li
        a(href="#") Блог
        ul.sidebar__secondary
          // .is-active for li to be add with js or backed
          li
            a(href="blog-add.html") Добавить запись
          li
            a(href="blog-list.html") Все записи
    //- a.sidebar__back(href="#")
    //-   +icon('ico-arrow-left')
    //-   | Назад к поиску
    div(data-teleport-target="mobile-select")
