---
title: Категории
---
extends shared/_layout

block content
  // Tags page
  .admin
    .container
      .admin__wrapper
        // Include sidebar
        include components/_sidebar
        .content
          .content__search
            p.p-light поиск
            .ui-group.ui-group--search.ui-group--tags
              input(type="text" placeholder="Поиск" js-autocomplete data-url="json/categories.json")
              +icon('ico-search')
          .content__main
            p.p-light 3 категории
            .content__table.item--2rows
              .content__head
                .c-info.c-link
                  .c-icon
                    +icon('ico-icon_link')
                .c-info.c-number №
                .c-info.c-name Название
                .c-info.c-objects Объектов
                .c-info.c-seo SEO
              .content__item
                .c-head
                  .c-info.c-link
                    a(href="#")
                      +icon('ico-icon_link')
                  .c-info.c-number 1
                  .c-info.c-name Дома в новой Москве
                  .c-info.c-objects 85
                  .c-info.c-seo 
                    a(href="#") редактировать
                .c-edit
                  form.content__form(action="#" method="#")
                    .ui-group
                      input(type="text" placeholder="Дома в Новой Москве")
                    .ui-group
                      input(type="text" placeholder="SEO описание (1-2 предложения)")
                    .ui-group
                      textarea
                        | Почему покупать дом в Новой Москве?
                        | Спрос на недвижимость в Новой Москве (территориях, включенных в состав столицы в 2012 году) неуклонно продолжает расти. Многоэтажные и малоэтажные жилые комплексы, таунхаусы и коттеджные поселки активно возводятся на землях между Киевским, Калужским и Симферопольским шоссе. При этом стоимость такого жилья остается заметно более доступной, по сравнению с недвижимостью Старой Москвы. Всё больше и больше людей обращают внимание на недавно присоединенные районы и рассматривают различные варианты недвижимости. В данной статье мы обсудим основные факторы, которые следует изучить при покупке или строительстве частного дома в Новой Москве.
                    .content__buttons
                      button.btn.btn-cancel отмена
                      button.btn.btn-primary сохранить
              .content__item
                .c-head
                  .c-info.c-link
                    a(href="#")
                      +icon('ico-icon_link')
                  .c-info.c-number 2
                  .c-info.c-name Участки
                  .c-info.c-objects 36
                  .c-info.c-seo 
                    a(href="#") редактировать
                .c-edit
                  form.content__form(action="#" method="#")
                    .ui-group
                      input(type="text" placeholder="Участки")
                    .ui-group
                      input(type="text" placeholder="SEO описание (1-2 предложения)")
                    .ui-group
                      textarea
                        | Почему покупать дом в Новой Москве?
                        | Спрос на недвижимость в Новой Москве (территориях, включенных в состав столицы в 2012 году) неуклонно продолжает расти. Многоэтажные и малоэтажные жилые комплексы, таунхаусы и коттеджные поселки активно возводятся на землях между Киевским, Калужским и Симферопольским шоссе. При этом стоимость такого жилья остается заметно более доступной, по сравнению с недвижимостью Старой Москвы. Всё больше и больше людей обращают внимание на недавно присоединенные районы и рассматривают различные варианты недвижимости. В данной статье мы обсудим основные факторы, которые следует изучить при покупке или строительстве частного дома в Новой Москве.
                    .content__buttons
                      button.btn.btn-cancel отмена
                      button.btn.btn-primary сохранить
              .content__item
                .c-head
                  .c-info.c-link
                    a(href="#")
                      +icon('ico-icon_link')
                  .c-info.c-number 3
                  .c-info.c-name Таунхаусы
                  .c-info.c-objects 13
                  .c-info.c-seo 
                    a(href="#") редактировать
                .c-edit
                  form.content__form(action="#" method="#")
                    .ui-group
                      input(type="text" placeholder="Таунхаусы")
                    .ui-group
                      input(type="text" placeholder="SEO описание (1-2 предложения)")
                    .ui-group
                      textarea
                        | Почему покупать дом в Новой Москве?
                        | Спрос на недвижимость в Новой Москве (территориях, включенных в состав столицы в 2012 году) неуклонно продолжает расти. Многоэтажные и малоэтажные жилые комплексы, таунхаусы и коттеджные поселки активно возводятся на землях между Киевским, Калужским и Симферопольским шоссе. При этом стоимость такого жилья остается заметно более доступной, по сравнению с недвижимостью Старой Москвы. Всё больше и больше людей обращают внимание на недавно присоединенные районы и рассматривают различные варианты недвижимости. В данной статье мы обсудим основные факторы, которые следует изучить при покупке или строительстве частного дома в Новой Москве.
                    .content__buttons
                      button.btn.btn-cancel отмена
                      button.btn.btn-primary сохранить
      
  block footer
