---
title: Categories title
---
extends shared/_layout

block content
  // Categories page
  .items
    .container
      // Include sidebar
      include components/_sidebar
      .content.without-search
        .content__search
          p.p-light поиск
          .ui-group.ui-group--search
            input(type="text" placeholder="поиск по тегам")
            +icon('ico-search')
        .content__table
          p.p-light 3 категории
          .content__grid.item--2rows
            .content__head
              .c-link
                a(href="#")
                  +icon('ico-icon_link')
              .c-number
                p №
              .c-name
                p Название
              .c-objects
                p Объектов
              .c-seo
                p SEO
            .content__item
              .c-head
                .c-link
                  a(href="#")
                    +icon('ico-icon_link')
                .c-number
                  p 1
                .c-name
                  p Дома в новой Москве
                .c-objects
                  p 85
                .c-seo
                  a(href="#") редактировать
              .c-edit
                form(action="#" method="#")
                  .ui-group
                    input(type="text" value="Дома в Новой Москве")
                  .ui-group
                    input(type="text" value="SEO описание (1-2 предложения)" readonly)
                  .ui-group
                    textarea
                      | Почему покупать дом в Новой Москве?
                      | Спрос на недвижимость в Новой Москве (территориях, включенных в состав столицы в 2012 году) неуклонно продолжает расти. Многоэтажные и малоэтажные жилые комплексы, таунхаусы и коттеджные поселки активно возводятся на землях между Киевским, Калужским и Симферопольским шоссе. При этом стоимость такого жилья остается заметно более доступной, по сравнению с недвижимостью Старой Москвы. Всё больше и больше людей обращают внимание на недавно присоединенные районы и рассматривают различные варианты недвижимости. В данной статье мы обсудим основные факторы, которые следует изучить при покупке или строительстве частного дома в Новой Москве.
                  .buttons
                    button.btn.btn-cancel отмена
                    button.btn.btn-primary сохранить
            .content__item
              .c-head
                .c-link
                  a(href="#")
                    +icon('ico-icon_link')
                .c-number
                  p 2
                .c-name
                  p Участки
                .c-objects
                  p 36
                .c-seo
                  a(href="#") редактировать
              .c-edit
                form(action="#" method="#")
                  .ui-group
                    input(type="text" value="Участки")
                  .ui-group
                    input(type="text" value="SEO описание (1-2 предложения) #2" readonly)
                  .ui-group
                    textarea
                      | Почему покупать дом в Новой Москве?
                      | Спрос на недвижимость в Новой Москве (территориях, включенных в состав столицы в 2012 году) неуклонно продолжает расти. Многоэтажные и малоэтажные жилые комплексы, таунхаусы и коттеджные поселки активно возводятся на землях между Киевским, Калужским и Симферопольским шоссе. При этом стоимость такого жилья остается заметно более доступной, по сравнению с недвижимостью Старой Москвы. Всё больше и больше людей обращают внимание на недавно присоединенные районы и рассматривают различные варианты недвижимости. В данной статье мы обсудим основные факторы, которые следует изучить при покупке или строительстве частного дома в Новой Москве.
                  .buttons
                    button.btn.btn-cancel отмена
                    button.btn.btn-primary сохранить
            .content__item
              .c-head
                .c-link
                  a(href="#")
                    +icon('ico-icon_link')
                .c-number
                  p 3
                .c-name
                  p Таунхаусы
                .c-objects
                  p 13
                .c-seo
                  a(href="#") редактировать
              .c-edit
                form(action="#" method="#")
                  .ui-group
                    input(type="text" value="Таунхаусы")
                  .ui-group
                    input(type="text" value="SEO описание (1-2 предложения) #3" readonly)
                  .ui-group
                    textarea
                      | Почему покупать дом в Новой Москве?
                      | Спрос на недвижимость в Новой Москве (территориях, включенных в состав столицы в 2012 году) неуклонно продолжает расти. Многоэтажные и малоэтажные жилые комплексы, таунхаусы и коттеджные поселки активно возводятся на землях между Киевским, Калужским и Симферопольским шоссе. При этом стоимость такого жилья остается заметно более доступной, по сравнению с недвижимостью Старой Москвы. Всё больше и больше людей обращают внимание на недавно присоединенные районы и рассматривают различные варианты недвижимости. В данной статье мы обсудим основные факторы, которые следует изучить при покупке или строительстве частного дома в Новой Москве.
                  .buttons
                    button.btn.btn-cancel отмена
                    button.btn.btn-primary сохранить
      
  block footer