---
title: Homepage title
---
extends shared/_layout

block content
  
  .container
    
    // заголовок
    h3.property__heading Об объекте
    
    
    // поиск
    .ui-group.ui-group--search
      input(type="text" placeholder="Название" js-autocomplete data-url="json/cities.json")
      +icon('ico-search')

    // селект
    .ui-group
      label regular select
      select(js-selectric)
        option(selected) Дом
        option Участок
        option Таунхаус
    .ui-group
      label bordered select
      // -bordered is a class mod in vendor/_selectric.sass
      select(js-selectric).bordered
        option цена: возрастание
        option цена: убывание
        option другой пункт
        
    // маски цены
    .ui-group
      input(type="text" placeholder="от" js-mask-price)
    .ui-group
      input(type="text" placeholder="до" js-mask-price)
            
    // кнопки
    button(type="submit").btn.btn-primary
      span поиск
    
    a(href="#").btn.btn-outline
      span btn outline
  
    a(href="#").btn.btn-white
      span btn white

    
    // checkbox
    .ui-group
      label Ремонт
      .ui-checkbox.ui-checkbox--right
        input(type="checkbox" name="filter" id="filter_1")
        label(for="filter_1") 
          span “под ключ” (25)
      .ui-checkbox.ui-checkbox--right
        input(type="checkbox" name="filter" id="filter_2")
        label(for="filter_2") 
          span “под финишную отд. (25)
      .ui-checkbox.ui-checkbox--right
        input(type="checkbox" name="filter" id="filter_3")
        label(for="filter_3") 
          span “без отделки” (25)
    
    .ui-group
      label Текстовая область
      textarea(type="text" rows="5" data-min-rows='5')
    
    // back            
    a(href="#").property__back 
      +icon('ico-arrow-left')
      span назад к поиску        
      
      
    // pagination
    .pagination
      .pagination__scope 11-20 из 132
      .pagination__list
        li.pagination__prev
          a(href="#")
            +icon('ico-arrow-left')
            span предыдущая
        li
          a(href="#") 1
        li.is-active
          a(href="#") 2
        li
          a(href="#") 3
        li.pagination__last
          a(href="#") 
            span следующая
            +icon('ico-arrow-right')
    
    
    // map
    .property__map
      #property-map
      // set params for print map
      .property__map-static
        img(src="https://static-maps.yandex.ru/1.x/?ll=37.63999999999997,55.75999999999371&size=640,250&z=12&l=map&pt=37.63999999999997,55.75999999999371,pmwtm1")
