---
title: Login title
---
extends shared/_layout

block content
  block header
  // login page
  .container
    .login
      .login__heading
        .login__logotype
          +icon('ico-logo')
        h2.login__title Позвольте найти ваш дом
      form.login__form(action="#" method="#")
        .ui-group
          input(type="text" name="email" placeholder="email" js-mask-email)
        .ui-group
          input(type="password" name="password" placeholder="пароль")
        .login__cta
          button.btn.btn-primary(type="submit") Войти
  block footer
