---
title: Property-add title
---
extends shared/_layout

block content
  // Property-add page
  .admin
    .container
      .admin__wrapper
        // Include sidebar
        include components/_sidebar
        .property
          form(action="#" method="post" enctype="multipart/form-data")
            .property__info
              p #4230 (опубликован)
              p 12.04.2017 (обновлен 16.06.2018)
              .property__buttons
                button.btn.btn-cancel удалить
                button.btn.btn-primary сохранить
            h3.property__heading Об объекте
            .property__container
              p.p-label Url
              .property__grid.items-url
                p.p-label
                p.p-url https://newmoscowhouse.ru/property/
                .ui-group
                  input(type="text" value="dom-kp-vatutinki")
              .ui-group
                p.p-label Название
                input(type="text" value="Дом с ремонтом “под ключ” в КП “Ватутинки”")
              .ui-group
                p.p-label YouTube
                input(type="text" placeholder="https://youtu.be/rN6nlNC9WQA")
              .property__grid.items-6
                .ui-group
                  label Кв.м
                  input(type="text" value="325")
                .ui-group
                  label Спальни
                  input(type="text" value="5")
                .ui-group
                  label С/у
                  input(type="text" value="")
                .ui-group
                  label Эт/ур.
                  input(type="text" value="2/3")
                .ui-group
                  label Участок
                  input(type="text" value="")
                .ui-group
                  label Цена
                  input.input-price(type="text" value="15 000 000")
              .property__grid.items-3.no-margin
                .ui-group
                  label Тип дома
                  select(js-selectric).bordered
                    option Кирпичный
                    option Монолитный
                    option Деревянный
                    option Щитовой
                .ui-group
                  label Ремонт
                  select(js-selectric).bordered
                    option Под ключ
                    option Под чистовую отделку
                    option Без отделки
                .ui-group
                  label Участок
                  select(js-selectric).bordered
                    option ИЖС
                    option ЛПХ
                    option ДНП
                    option Садоводство
                    option Фермерское хоз-во
                    option Земля промназначения
            h3.property__heading Описание
            .property__container
              .ui-group
                p.p-label Краткое описание (3-4 предложения)
                textarea(rows="5" data-min-rows="5")
              .ui-group
                p.p-label Поэтажное описание (3-4 предложения)
                textarea(rows="5" data-min-rows="5")
              .ui-group
                p.p-label Поэтажное описание (3-4 предложения)
                textarea(rows="5" data-min-rows="5")
              p.p-label Поэтажное описание (3-4 предложения)
              .property__grid.items-4.no-margin
                .ui-group
                  label Газ
                  select(js-selectric).bordered
                    option Да
                    option Нет
                .ui-group
                  label Электричество
                  select(js-selectric).bordered
                    option Да
                    option Нет
                .ui-group
                  label Канализация
                  select(js-selectric).bordered
                    option Да
                    option Нет
                .ui-group
                  label Водоснабжение
                  select(js-selectric).bordered
                    option Да
                    option Нет
            h3.property__heading Расположение
            .property__container
              .property__grid.items-3
                .ui-group
                  label Регион
                  select(js-selectric).bordered
                    option Москва
                    option Московская область
                .ui-group
                  label Округ
                  select(js-selectric js-select-okrug).bordered.okrug
                    option(disabled) Округ
                    option Новомосковский
                    option Троицкий
                .ui-group
                  label Поселение
                  select(js-selectric js-opened-novomosc disabled).bordered.absolute.novomosc.active
                    option Внуковское
                    option Воскресенское
                    option Десёновское
                    option Кокошкино
                    option Марушкинское
                    option Московский
                    option Мосрентген
                    option Рязановское
                    option Сосенское
                    option Филимонковское
                    option Щербинка
                  select(js-selectric js-opened-troitsk disabled).bordered.absolute.troitsk
                    option Вороновское
                    option Киевский
                    option Михайлово-Ярцевское
                    option Первомайское
                    option Роговское
                    option Щаповское
                    option Троицк
                    option Новофёдоровское
                    option Краснопахорское
                    option Кленовское
              .property__grid.items-3
                .ui-group
                  label Населенный пункт
                  input.height-input(type="text" placeholder="Введите название")
                .ui-group
                  label Шоссе
                  select(js-selectric).bordered
                    option Калужское
                    option Киевское
                    option Минское
                    option Дмитровское
                    option Новорижское
                    option Рублёво-Успенское
                .ui-group
                  label км от МКАД
                  input.h-input(type="text" value="25")
              .ui-group
                input(type="text" placeholder="Поиск адреса на карте" js-set-placemark)
              .ui-group
                .property__map
                  #property-map
            h3.property__heading Фотографии
            .property__container.property__container--photos
              .dropzone.needsclick(js-add-photos action='/upload' method="POST" enctype="multipart/form-data")
                .dz-message.needsclick
                  | Перетащите файлы
                  br
                  | или 
                  span открыть

            h3.property__heading Планировки
            .property__container.property__container--photos
              .dropzone.needsclick(js-add-plans action='/upload' method="POST" enctype="multipart/form-data")
                .dz-message.needsclick
                  | Перетащите файлы
                  br
                  | или 
                  span открыть
              
              // tpl for js-add-plans
              .property__tpl(js-preview-template-plans)
                .dz-preview.dz-preview--with-input
                  .dz-image
                    img(data-dz-thumbnail='')
                  .dz-progress
                    span.dz-upload(data-dz-uploadprogress='')
                      .dz-success-mark
                        svg(width='54px', height='54px', viewbox='0 0 54 54', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns:sketch='http://www.bohemiancoding.com/sketch/ns')
                          g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd', sketch:type='MSPage')
                            path#Oval-2(d='M23.5,31.8431458 L17.5852419,25.9283877 C16.0248253,24.3679711 13.4910294,24.366835 11.9289322,25.9289322 C10.3700136,27.4878508 10.3665912,30.0234455 11.9283877,31.5852419 L20.4147581,40.0716123 C20.5133999,40.1702541 20.6159315,40.2626649 20.7218615,40.3488435 C22.2835669,41.8725651 24.794234,41.8626202 26.3461564,40.3106978 L43.3106978,23.3461564 C44.8771021,21.7797521 44.8758057,19.2483887 43.3137085,17.6862915 C41.7547899,16.1273729 39.2176035,16.1255422 37.6538436,17.6893022 L23.5,31.8431458 Z M27,53 C41.3594035,53 53,41.3594035 53,27 C53,12.6405965 41.3594035,1 27,1 C12.6405965,1 1,12.6405965 1,27 C1,41.3594035 12.6405965,53 27,53 Z', stroke-opacity='0.198794158', stroke='#747474', fill-opacity='0.816519475', fill='#FFFFFF', sketch:type='MSShapeGroup')
                      .dz-error-mark
                        svg(width='54px', height='54px', viewbox='0 0 54 54', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns:sketch='http://www.bohemiancoding.com/sketch/ns')
                          g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd', sketch:type='MSPage')
                            g(id='Check-+-Oval-2', sketch:type='MSLayerGroup', stroke='#747474', stroke-opacity='0.198794158', fill='#FFFFFF', fill-opacity='0.816519475')
                              path#Oval-2(d='M32.6568542,29 L38.3106978,23.3461564 C39.8771021,21.7797521 39.8758057,19.2483887 38.3137085,17.6862915 C36.7547899,16.1273729 34.2176035,16.1255422 32.6538436,17.6893022 L27,23.3431458 L21.3461564,17.6893022 C19.7823965,16.1255422 17.2452101,16.1273729 15.6862915,17.6862915 C14.1241943,19.2483887 14.1228979,21.7797521 15.6893022,23.3461564 L21.3431458,29 L15.6893022,34.6538436 C14.1228979,36.2202479 14.1241943,38.7516113 15.6862915,40.3137085 C17.2452101,41.8726271 19.7823965,41.8744578 21.3461564,40.3106978 L27,34.6568542 L32.6538436,40.3106978 C34.2176035,41.8744578 36.7547899,41.8726271 38.3137085,40.3137085 C39.8758057,38.7516113 39.8771021,36.2202479 38.3106978,34.6538436 L32.6568542,29 Z M27,53 C41.3594035,53 53,41.3594035 53,27 C53,12.6405965 41.3594035,1 27,1 C12.6405965,1 1,12.6405965 1,27 C1,41.3594035 12.6405965,53 27,53 Z', sketch:type='MSShapeGroup')
                  .dz-error-message
                    span(data-dz-errormessage='')
                  a.dz-remove(href='javascript:undefined;', data-dz-remove='') Remove file
                  .dz-input
                    .ui-group
                      input(type="text" placeholder="caption")

            h3.property__heading SEO
            .property__container
              .ui-group
                p.p-label SEO Заголовок
                input(type="text" value="Дом с ремонтом “под ключ” в КП “Ватутинки”")
              .ui-group
                p.p-label SEO Описание
                textarea(rows="5" data-min-rows="5") Участок 8 соток в коттеджном поселке бизнес-класса "Зеленые холмы", Киевское шоссе, Новая Москва. К участку подведены все центральные коммуникации.

            .property__info.property__info--bottom-position
              p #4230 (опубликован)
              p 12.04.2017 (обновлен 16.06.2018)
              .property__buttons
                button.btn.btn-cancel удалить
                button.btn.btn-primary сохранить

        include components/_right-sidebar
  //- block footer
