include _mixins
doctype html
html(lang="en")
  head
    include _head

  body
    // place where pjax bindings happen's
    #barba-wrapper
      // what should be changed with every pjax
      .page
        block header
          include ../components/_header
        .page__content(class=pageClass)
          block content

        block footer
          include ../components/_footer
    
      block scripts
        include _scripts
