/* HEADER
.header
  position: absolute
  top: 0
  right: 0
  left: 0
  z-index: 10
  background: white
  min-width: 768px
  &-container
    border-bottom: 1px solid #E6E6E6

  &__wrapper
    display: flex
    align-items: center
    height: 60px
    color: $fontColor

  &__logo
    position: relative
    // flex: 0 0 103px
    flex: 0 0 auto
    font-size: 0
    padding-right: 30px
    color: $fontColor
    transition: .25s $ease
    .ico
      font-size: 29px
      overflow: hidden
    &:hover
      opacity: .8

  &__cta
    margin-left: auto
    padding-left: 30px
    display: flex
    align-items: center

  &__user
    // padding-left: 20px
    padding: 10px 0 10px 20px
    position: relative
    &-wrap
      display: flex
      align-items: center
    &-name
      font-size: 14px
      font-weight: 700
      margin-right: 20px

    &-avatar
      position: relative
      z-index: 1
      border-radius: 50%
      overflow: hidden
      size: 40px
      flex: 0 0 40px
      font-size: 0
      user-select: none
      pointer-events: none
      img
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%,-50%)
        width: 100%
    &:hover
      .header__user-drop
        bottom: -49px
        opacity: 1
  &__user-drop
    position: absolute
    padding: 15px 22px
    background: #fff
    border-radius: 5px
    width: 70%
    box-shadow: 0 5px 10px rgba(154,154,154,0.1)
    transition: .25s $ease
    right: 0
    bottom: 0
    // bottom: -59px
    opacity: 0


  &.is-fixed
    transform: translate3d(0,-100%,0)
    background: white
    transition: .25s $ease
    .header
      &__logo
        color: $fontColor
      &__wrapper
        color: $fontColor

  &.is-fixed-visible
    position: fixed
    transform: translate3d(0,0,0)
