.property
	width: 100%
	padding: 62px 0 82px
	position: relative
	position: relative
	z-index: 2
	&__info
		background: #fff
		border-radius: 4px
		border: 1px solid $borderColor
		display: flex
		padding: 15px
		align-items: center
		justify-content: flex-start
		position: absolute
		left: 0
		top: 0
		width: calc(100% + 235px)
		&--bottom-position
			bottom: 0
			top: auto
		p
			margin: 0
			margin: 0
			font-size: 14px
			color: $fontColor50
			margin-right: 25px
	&__buttons
		margin-left: auto
		.btn
			font-size: 14px
			text-transform: none
			font-weight: 400
			padding: 6px 16px
			margin-left: 15px
	&__heading
		margin: 25px auto
		padding-bottom: 22px
	&__container
		position: relative
		background: #fff
		border-radius: 4px
		border: 1px solid $borderColor
		padding: 20px
		&--photos
			padding: 0
		&--add
			margin: 30px 0 10px
		// 	min-height: 360px
		.ui-group
			&:last-child
				margin-bottom: 0
			.selectric
				width: 100%
		.p-label
			margin-bottom: 5px
		label
			color: #90A1B5
		input
			border: 1px solid $borderColor
			font-size: 14px
			padding: 9px 20px
			&.h-input
				padding: 12px 20px
				width: 50%
			&.height-input
				padding: 12px 20px
		textarea
			border: 1px solid $borderColor
			// min-height: 100px
			resize: none
			font-size: 14px
			line-height: 1.4
			padding: 12px 20px
	&__tpl
		display: none
	&__grid
		display: flex
		justify-content: space-between
		margin-bottom: 20px
		.ui-group
			margin-bottom: 0
		&.items-url
			align-items: center
			p.p-url
				font-size: 14px
				margin: 0
				margin-right: 10px
				color: rgba($fontColor, 0.3)
			.ui-group
				width: 100%
		&.items-6
			.ui-group
				input
					padding: 9px 15px
				margin: 0 2%
				&:first-child
					margin-left: 0
				&:last-child
					margin-right: 0
		&.items-4
			.ui-group
				margin-top: 5px
				width: 22%
		&.items-3
			.ui-group
				margin-top: 5px
				width: 30%
		&.items-2
			max-width: 65%
			.ui-group
				margin-top: 5px
				width: 45%
		&.no-margin
			margin-bottom: 0
		// input
		// 	padding: 12px 20px
	&__map
		min-height: 320px
		background: #a2a2a2
		margin: 0
	&__list-content
		width: 100%
	&__head
		display: flex
		width: 100%
		justify-content: flex-start
		input
			border: 1px solid $borderColor
		.selectric
			min-width: 160px
			.label
				padding: 12px 20px 11px

	&__item
		margin-right: 25px
		&-date
			flex: 0 1 212px
			input
				opacity: 1
				text-align: center

	&__add
		min-height: 110px
		display: flex
		flex-direction: column
		text-align: center
		align-items: center
		justify-content: center
		color: $fontColor50
		transition: .25s $ease
		.ico
			font-size: 25px
			fill: #D8D8D8
			transition: .25s $ease
		span
			display: inline-block
			margin-top: 13px
			font-size: 14px
			// font-weight: 700
		&:hover
			color: $fontColor
			.ico
				fill: $colorPrimary



.ui-group--date
	max-width: 252px
	width: 100%
	input
		padding: 13px 20px
		font-size: 12px
.input-price
	min-width: 140px

.selectric-absolute
	position: absolute
	left: 0
	width: 100%
	bottom: 0
	z-index: 2
	&.selectric-disabled
		opacity: 1
		z-index: 1
		&:after
			display: block
			position: absolute
			content: ''
			width: 100%
			height: 100%
			left: 0
			top: 0
			background: #fff
			opacity: 0.5

.selectric-novomosc, .selectric-troitsk
	display: none
	&.selectric-active
		display: block

+r($desktop1068)
	.sidebar
		margin-right: 40px
		&__back
			margin: 30px 0
	.right
		display: none
	.property
		padding-bottom: 88px
		&__info
			width: 100% !important
			flex-wrap: wrap
			align-items: center
			p
				width: 100%
				min-width: 300px
				&:nth-child(1)
					order: -1
				&:nth-child(2)
					order: 2
		&__buttons
			min-width: 245px
			margin: -13px 0 -13px auto


input[type="number"]
	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button
	    -webkit-appearance: none
	    margin: 0

input[type="number"]
    -moz-appearance: textfield
