.sidebar
	min-width: 190px
	margin-right: 10px
	padding-top: 10px
	&__index
		font-size: 16px
		margin: 0
		color: rgba($fontColor, 0.09)
	ul
		padding: 0
	&__main
		margin: 0
		li
			margin-top: 21px
			display: list-item
		a
			font-size: 16px
			color: $fontColor
			text-decoration: none
			width: 100%
			display: block
			padding: 9px 0 9px
			transition: all $transitionSpeed ease-in-out
			// &:hover
				// background: darken(#F6F6F6, 3%)
				// font-weight: 700
			
	&__secondary
		margin-top: 8px
		li
			margin: 0 auto 6px
			position: relative
			display: list-item
			&.is-active
				font-weight: 700
				background: darken(#F6F6F6, 3%)
				// &:after
				// 	display: block
				// 	content: ''
				// 	width: 3px
				// 	height: 100%
				// 	position: absolute
				// 	left: 0
				// 	top: 0
				// 	background: $colorPrimary
				// 	border-radius: 10px
				// 	box-shadow: 0 0 1px 0 rgba(0,0,0,0.35)
		a
			font-size: 14px
			padding-left: 20px
			&:hover
				background: 
				background: darken(#F6F6F6, 3%)
				// font-weight: 700
	&__back
		display: flex
		align-items: center
		font-size: 14px
		color: rgba($fontColor, 0.5)
		margin-top: 90px
		.ico
			margin-right: 15px
	&__logo
		display: none
		

.show-menu-link
	display: none

+r($desktop1068)
	.show-menu-link
		display: block
		position: fixed
		top: 50%
		transform: translateY(-50%)
		left: -21px
		text-align: center
		word-wrap: break-word
		background: #fff
		padding: 10px
		text-align: center
		writing-mode: vertical-rl
		border: 1px solid #eee
		border-left: none
		transition: all $transitionSpeed ease-in-out
		// box-shadow: 3px 1px 5px rgba(154,154,154,0.2)
		&.is-active
			left: 258px
			box-shadow: 3px 1px 5px rgba(154,154,154,0.2)
	.sidebar
		position: fixed
		height: 100vh
		
		top: 0
		padding-top: 62px
		// overflow-y: scroll
		border-right: 1px solid #eee
		transition: all $transitionSpeed ease-in-out
		margin-right: 0
		left: -282px
		background: #fff
		z-index: 10
		min-width: 280px
		padding-left: 20px
		padding-right: 20px
		&.is-open
			left: 0
			box-shadow: 0 1px 10px rgba(154,154,154,0.4)
		&__logo
			position: absolute
			display: block
			left: 40px
			top: 12px
			.ico
				font-size: 24px
		&__back
			margin: 30px 0
		&__wrapper
			&.is_stuck
				position: static !important
	.right
		display: none