.sidebar
	min-width: 190px
	margin-right: 10px
	padding-top: 10px
	&__index
		font-size: 16px
		margin: 0
		color: rgba($fontColor, 0.09)
	ul
		padding: 0
	&__main
		margin: 0
		li
			margin-top: 21px
			display: list-item
		a
			font-size: 16px
			color: $fontColor
			text-decoration: none
			width: 100%
			display: block
			padding: 9px 0 9px
			transition: all $transitionSpeed ease-in-out
			// &:hover
				// background: darken(#F6F6F6, 3%)
				// font-weight: 700
			
	&__secondary
		margin-top: 8px
		li
			margin: 0 auto 6px
			position: relative
			display: list-item
			&.is-active
				font-weight: 700
				&:after
					display: block
					content: ''
					width: 3px
					height: 100%
					position: absolute
					left: 0
					top: 0
					background: $colorPrimary
					border-radius: 10px
					box-shadow: 0 0 1px 0 rgba(0,0,0,0.35)
		a
			font-size: 14px
			padding-left: 20px
			&:hover
				background: 
				background: darken(#F6F6F6, 3%)
				// font-weight: 700
	&__back
		display: flex
		align-items: center
		font-size: 14px
		color: rgba($fontColor, 0.5)
		margin-top: 90px
		.ico
			margin-right: 15px

+r($desktop1068)
	.sidebar
		margin-right: 40px
		&__back
			margin: 30px 0
	.right
		display: none