.ico-arrow-left {
  width: 0.57em;
  height: 1em;
  fill: #FFF;
}
.ico-arrow-right {
  width: 0.57em;
  height: 1em;
  fill: #FFF;
}
.ico-back {
  width: 1.44em;
  height: 1em;
  fill: #404042;
}
.ico-close {
  width: 1em;
  height: 1em;
  fill: #404042;
}
.ico-delete {
  width: 1.1em;
  height: 1em;
  fill: none;
}
.ico-drop-arrow {
  width: 1.67em;
  height: 1em;
  fill: #404042;
}
.ico-icon_link {
  width: 1em;
  height: 1em;
  fill: none;
}
.ico-list-change {
  width: 3.75em;
  height: 1em;
  fill: none;
}
.ico-logo {
  width: 2.52em;
  height: 1em;
  fill: initial;
}
.ico-search {
  width: 1em;
  height: 1em;
  fill: #404042;
}
.ico-zoom {
  width: 0.93em;
  height: 1em;
  fill: none;
}
